* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display : flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0, rgba(89,9,121,1) 0%, rgba(160,56,213,1) 100%);
}

.player {
    display: flex;
    justify-content:space-between;
    width: 900px;
    height: 350px;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0,0,0,0.24);
    overflow: hidden;
}

.cover {
    display: flex;
    background: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.cover .img-wrapper{
    width: 50%;
}

.cover .img-wrapper img{
    width: 100%;
}

.cover p{
    color: white;
}

/* Board */

.board {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board button {
    width: 2rem;
    height: 2rem;
    border: none;
    background: none;
}

.board button i::before{
    font-size: 2rem;
}

.board button:hover {
    cursor: pointer;
}


.board .waveform-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.board #waveform-canvas {
    width: 100%;
    
    height: 100px;
}

.waveform-wrapper > p {
    font-size: 1.5rem;
    font-weight: 700;
}

.waveform-wrapper > p > span {
    display: inline-block;
    width: 2rem;
    text-align: center;
}

.board .cursortime{
    color: #bbbbbb;
}

.board .button-group{
    padding-top: 1rem;
}